<!-- <div class="title">
  <h1 style="text-align:center">Please Sign Up!</h1>
</div>
<div class="center">
    <div class="form-container mat-elevation-z5">
      <form [formGroup]="signUpForm" (ngSubmit)="submit()">
        <mat-form-field appearance="fill">
          <input matInput placeholder="Name" formControlName="name" />
          <mat-error *ngIf="name?.errors?.['required']">
            Name is required!
          </mat-error>
        </mat-form-field>
        <br>
        <br>
        <mat-form-field appearance="fill">
          <input matInput placeholder="Email address" formControlName="email" />
          <mat-error *ngIf="email?.errors?.['required']">
            Email address is required!
          </mat-error>
          <mat-error *ngIf="email?.errors?.['email']">
            Please enter a valid email address!
          </mat-error>
        </mat-form-field>
        <br>
        <br>
        <mat-form-field appearance="fill">
          <input
            matInput
            type="password"
            placeholder="Password"
            formControlName="password"
          />
          <mat-error *ngIf="password?.errors?.['required']">
            Password is required!
          </mat-error>
        </mat-form-field>
        <br>
        <br>
        <mat-form-field appearance="fill">
          <input
            matInput
            type="password"
            placeholder="Confirm Password"
            formControlName="confirmPassword"
          />
          <mat-error *ngIf="confirmPassword?.errors?.['required']">
            Confirm Password is required!
          </mat-error>
        </mat-form-field>
        <mat-error *ngIf="signUpForm.errors?.['passwordsDontMatch']">
            Passwords should match!
        </mat-error>
        <br>
        <br>
        <br>
        <br>
        <div>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <button type="submit" mat-raised-button class="button">Sign Up!</button>
        </div>
      </form>
    </div>
    <div class="container login">
      <p>Alreagy have an account? <a href="/login">Login here</a></p>
   </div>
</div> -->

<body>
  <div class="bg-image">
  </div>
  
  <div class="bg-text">
    <div class="title">
      <h1 class="center" style="color:white;">Please Sign Up!</h1>
    </div>
    <br>
    <br>
    <br>
  <div class="center">
    <div class="container">
      <form  [formGroup]="signUpForm" (ngSubmit)="submit()">
          <div class="row">
            <div class="col-25">
              <label for="name">Name:</label>
            </div>
            <div class="col-75">
              <mat-form-field appearance="fill">
                <input matInput placeholder="Name" formControlName="name" />
                <mat-error *ngIf="name?.errors?.['required']">
                  Name is required!
                </mat-error>
              </mat-form-field>
            </div>
          </div>
          <br>
          <br>
  
          <div class="row">
            <div class="col-25">
              <label for="email">Email:</label>
            </div>
            <div class="col-75">
              <mat-form-field appearance="fill">
                <input matInput placeholder="Email address" formControlName="email" />
                <mat-error *ngIf="email?.errors?.['required']">
                  Email address is required!
                </mat-error>
                <mat-error *ngIf="email?.errors?.['email']">
                  Please enter a valid email address!
                </mat-error>
              </mat-form-field>
            </div>
          </div>
          <br>
          <br>

          <div class="row">
            <div class="col-25">
              <label for="email">Password:</label>
            </div>
            <div class="col-75">
              <mat-form-field appearance="fill">
                <input
                  matInput
                  type="password"
                  placeholder="Password"
                  formControlName="password"
                />
                <mat-error *ngIf="password?.errors?.['required']">
                  Password is required!
                </mat-error>
              </mat-form-field>
            </div>
          </div>
          <br>
          <br>

          <div class="row">
            <div class="col-25">
              <label for="email">Confirm Password:</label>
            </div>
            <div class="col-75">
              <mat-form-field appearance="fill">
                <input
                  matInput
                  type="password"
                  placeholder="Confirm Password"
                  formControlName="confirmPassword"
                />
                <mat-error *ngIf="confirmPassword?.errors?.['required']">
                  Confirm Password is required!
                </mat-error>
              </mat-form-field>
            </div>
          </div>
  
          
          <br>
          <br>
          <br>
          <div class="row">
            <button type="submit" mat-raised-button class="button">Sign-up!</button>
          </div>
      </form>
    </div>
    <div class="sign-up">
      <p style="color:white;">Alreagy have an account? <a href="/login">Login here</a></p>
   </div>
  </div>
  </div>
  </body>