/* import the required JSAPI css */
// @import url('https://js.arcgis.com/4.12/esri/css/main.css');

.esri-view {
  height: 600px;
}

.button-routing {
  background-color: #f4501e8a;
  border: 2px solid #f4501e8a;
  color: white;
  /* padding: 12px 26px; */
  text-align: center;
  text-decoration: none;
  /* border-radius: 12px; */
  display: inline-block;
  font-size: 16px;
  position: relative;
  transition-duration: 0.4s;
  overflow: hidden;
  cursor: pointer;
  display: inline-block;
  border-radius: 4px;
}

.button {
  display: inline-block;
  border-radius: 4px;
  background-color: #f4501e8a;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 16px;
  padding: 20px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}


.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button-routing:hover {
  background-color: white;
  color: #f4501e8a;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

.label {
  font-size: 18px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.full-w {
  width: 100%;
  border-radius: 4px;
  border: 2px solid #f4501e8a;
  font-size: 24px;
}
.full-w:hover {
  background-color: white;
  color: #f4501e8a;
}