<!-- The content below is only a placeholder and can be replaced. -->


<!-- <app-esri-map [center]="mapCenter" [basemap]="basemapType" [zoom]="mapZoomLevel"
  (mapLoadedEvent)="mapLoadedEvent($event)">
</app-esri-map> -->


<!-- <div class="collapse navbar-collapse" id="navbarResponsive">
  <ul class="navbar-nav ml-auto">
     <li class="nav-item active">
        <a class="nav-link" href="#">Home
           <span class="sr-only" routerLink="/"></span>

        </a>
     </li>
     <li class="nav-item">
                 <div *ngIf="isUserLoggedIn; else isLogOut">
                       <a class="nav-link" routerLink="/logout">Logout</a>
                       <li class="nav-item"><a class="nav-link" routerLink="home">Home</a></li>
                       <li class="nav-item"><a class="nav-link" routerLink="map">Map</a></li>
                 </div>

                 <ng-template #isLogOut>
                             <a class="nav-link" routerLink="/login">Login</a>
                 </ng-template>
     </li>
  </ul>
</div> -->

<!-- <nav class="navbar navbar-fixed-top navbar-dark bg-inverse">
  <div class="container">
    <a class="navbar-brand">Angular Router</a>
    <ul class="nav navbar-nav" routerLinkActive="active">
      <li class="nav-item">
        <div *ngIf="this.authService.isUserLoggedIn; else isLogOut">
              <a class="nav-link" routerLink="/logout">Logout</a>
              <li class="nav-item"><a class="nav-link" routerLink="map">Map</a></li>
        </div>

        <ng-template #isLogOut>
                    <li><a class="nav-link" routerLink="/login">Login</a></li>
                    <li><a class="nav-link" routerLink="/register">Register</a></li>
        </ng-template>
      </li>
      <li class="nav-item"><a class="nav-link" routerLink="home">Home</a></li>
    </ul>
  </div>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div> -->

<mat-toolbar color="primary">
  <!-- Sign Up Flow with Firebase -->
  <!-- <ng-container *ngIf="user$ | async as user; else loginButton">
    <button mat-button [matMenuTriggerFor]="userMenu">
      <img
        width="30"
        height="30"
        class="profile-image-toolbar"
        [src]="user.photoURL ?? 'assets/images/image-placeholder.png'"
      />
      {{ user.displayName }}
      <mat-icon>expand_more</mat-icon>
    </button>
  </ng-container> -->
  <!-- <ng-template #loginButton>
    <button mat-button routerLink="login">
      <mat-icon>login</mat-icon>
      Login -->
    <!-- </button>
  </ng-template> -->
</mat-toolbar>

<div class="content">
  <router-outlet></router-outlet>
</div>

<mat-menu #userMenu="matMenu">
  <button mat-menu-item routerLink="/profile">
    <mat-icon>account_circle</mat-icon>
    Profile
  </button>
  <button mat-menu-item (click)="logout()">
    <mat-icon>logout</mat-icon>
    Logout
  </button>
</mat-menu>
