
<mat-toolbar color="primary">
  <ng-container *ngIf="user$ | async as user; else loginButton">
    <div *ngIf="router.url === '/profile'">
      <button routerLink="/profile" class="pressed-button">Profile</button>
    </div>
    <div *ngIf="router.url !== '/profile'">
      <button routerLink="/profile" class="button">Profile</button>
    </div>

    &nbsp;&nbsp;

    <div *ngIf="router.url === '/map'">
      <button  class="pressed-button" routerLink="/map">Rome's Map</button>
    </div>
    <div *ngIf="router.url !== '/map'">
      <button  class="button" routerLink="/map">Rome's Map</button>
    </div>
    &nbsp;&nbsp;

    <div *ngIf="router.url === '/home'">
      <button  class="pressed-button" routerLink="/home">Home</button>
    </div>
    <div *ngIf="router.url !== '/home'">
      <button  class="button" routerLink="/home">Home</button>
    </div>
    
    &nbsp;&nbsp;
    <button (click)="logout()" class="button"> Log out </button>
  </ng-container>
    <ng-template #loginButton>
      <div *ngIf="router.url !== '/sign-up' && router.url !== '/login'">
        <button class="button" routerLink="/sign-up"> Sign Up! </button>
        &nbsp;&nbsp;
        <button class="button" routerLink="/login"> Log in! </button>
        &nbsp;&nbsp;
      </div>
    </ng-template>
</mat-toolbar>

<div class="content">
  <router-outlet></router-outlet>
</div>