.profile-image {
  position: relative;
  width: 120px;
  margin: auto;
}

.profile-image > img {
  border-radius: 100%;
  object-fit: cover;
  object-position: center;
}

.profile-image > button {
  position: absolute;
  bottom: 10px;
  right: 0;
}

.form-container {
  max-width: 400px;
}

.row {
  display: flex;
  gap: 16px;
}


.button {
  background-color: white;
  border: 2px solid #103a88;
  color: #103a88;
  padding: 12px 26px;
  text-align: center;
  text-decoration: none;
  border-radius: 12px;
  display: inline-block;
  font-size: 16px;
  position: relative;
  transition-duration: 0.4s;
  overflow: hidden;
  cursor: pointer;
  display: inline-block;
}

/* TODO: sa ma uit in users.ts si in users.service.ts sa inteleg cum functioneaza profile */
/* .mat-form-field input {
  border: 2px solid black;
  background-color: rgb(220, 220, 217) !important;
  height: 22px;
  transition: height ease-in-out 400ms;
  text-align: center;
}

.mat-form-field input:focus {
  border: 2px solid black;
  background-color: rgb(220, 220, 217) !important;
  height: 25px;
  transition: height ease-in-out 400ms;
  text-align: center;
} */

.center {
  margin: 0;
  position: absolute;
  left: 43%;
}